@mixin theme($color){
	.text-primary, 
	.text-primary-hover a:hover, 
	.text-primary-hover .active > a{
	  color: $color !important;
	}
	.nav-active-primary .nav-link.active, 
	.nav-active-primary .nav > li.active > a,
	.btn.primary,
	.btn.b-primary:hover, 
	.btn.b-primary:focus,
	.mejs-controls .mejs-playpause-button button,
	.pace .pace-progress{
	  background-color: $color !important;
	}

	.b-primary,
	.mejs-controls .mejs-time-rail .mejs-time-current{
	  border-color: $color;
	}
	.mejs-error{
		background-color: $color;
		border-color: $color;
	}
}
