@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --green: #96eaa3;
  --yellow: #eae086;
  --red: #f3646d;
  --blue: #649ef3;
  --white: #ffffff;
  --black: #121212;
  --slate: #707070;
  --neutral: #f6f6f6;

  --text: var(--black);
  --background: var(--white);
  --primary: var(--green);
  --secondary: var(--yellow);
  --accent: var(--red);
  --transition-speed: 600ms;
  --radius: 0.75em;
}

html,
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html[data-theme="light"] {
  --text: #121212;
  --background: #fff;
  --primary: var(--green);
  --secondary: #eae086;
  --accent: #f3646d;
  --surface: #ebe9e9;
}

html[data-theme="dark"] {
  --text: #fff;
  --background: #121212;
  --primary: var(--blue);
  --secondary: #dcde87;
  --accent: #de8787;
  --surface: #2f2f2f;
}

body {
  background: var(--background);
  color: var(--text);
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--background);
}
body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

button {
  -webkit-tap-highlight-color: transparent;
  padding: 0.25em 1em;
  background: var(--primary);
  border-radius: var(--radius);
  color: var(--text);
  margin: 1em;
  margin-bottom: 0;
  cursor: pointer;
}
input {
  padding: 0.5em 1em;
  background: var(--surface);
  border-radius: var(--radius);
  color: var(--text);
  cursor: pointer;
}
button:hover,
input:hover {
  transform: scale(1.03);
}

#authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

#navbar {
  position: fixed;
  /* background-color: var(--primary); */
  transition: width 200ms ease;
}

ion-icon {
  font-size: 1.25rem;
  color: var(--green);
}
#navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#nav-item {
  width: 100%;
}

#nav-item:last-child {
  margin-top: auto;
}

#nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text);
  text-decoration: none;
}

#nav-link:hover {
  background: var(--background);
  color: var(--text);
  transition: var(--transition-speed) ease;
}

#link-text {
  display: none;
  color: var(--text);
  font-weight: 900;
  margin-left: 1rem;
}

#nav-link #icon-svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

#img {
  position: absolute;
  transform: rotate(-90deg);
  top: 50%;
  left: 50%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid black;
}
#streams {
  display: flex;
  flex-direction: row;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background: rgba(var(--background), 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* small screen */
@media only screen and (max-width: 600px) {
  #navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  /* #logo {
    display: none;
  } */
  #nav-item:first-child {
    display: none;
  }

  #navbar-nav {
    flex-direction: row;
  }

  #nav-link {
    justify-content: center;
  }

  /* #nav-item:first-child #logo {
    display: none;
  } */
}

main {
  margin: auto;
  margin-bottom: 5rem;
}

/* large screen */

@media only screen and (min-width: 600px) {
  #navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
}
