@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--green: #96eaa3;
	--yellow: #eae086;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #707070;
	--neutral: #e4e2e2;

	--text: var(--black);
	--background: var(--black);
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);

	--radius: 0.75em;
}

html,
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html[theme="light"] {
	--green: #96eaa3;
	--yellow: #eae086;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #707070;
	--neutral: #eeeded;

	--text: var(--black);
	--background: var(--white);
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);
	--surface: var(--neutral);
}

html[theme="dark"] {
	--green: #74e284;
	--yellow: #ded36d;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #2f2f2f;
	--neutral: #eeeded;

	--text: var(--white);
	--background: #121212;
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);
	--surface: var(--slate);
}

.primary {
	background: var(--primary);
}
.secondary {
	background: var(--secondary);
}
.accent {
	background: var(--accent);
}
.surface {
	background: var(--surface);
}

.air {
	padding-top: 9%;
}

body {
	background: var(--background);
	color: var(--text);
}

button {
	-webkit-tap-highlight-color: transparent;
	padding: 0.25em 1em;
	background: var(--primary);
	border-radius: var(--radius);
	color: var(--text);
	margin: 0.5em;
	cursor: pointer;
}
button:disabled {
	background: var(--surface);
}
input {
	padding: 0.5em 0.5em;
	border: none;
	border-radius: var(--radius);
	color: var(--text);
	cursor: pointer;
}
button:hover,
input:hover {
}
[contenteditable]:focus {
	background: var(--slate);
	outline: none;
	border-radius: var(--radius);
}

#tell {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: visible;
}
#tell p {
	background: var(--surface);
	border-radius: var(--radius);
	/* background: rgba(var(--background), 0.8);
	border: 0.1em solid var(--text);
	box-shadow: 0 0.5em 1em var(--surface);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	top: -2em;
	width: 75%;
	padding: 1%;
	opacity: 0;
	visibility: hidden;
	transition: visibility 1s, all 0.5s ease-in;
}
#tell .notify {
	top: 0.25em;
	opacity: 1;
	visibility: visible;
	transition: visibility 0s, all 0.25s ease-out;
}

#install {
	display: none;
}
@keyframes slide {
	0% {
		transform: translateX(25%);
	}
	100% {
		transform: translateX(0);
	}
}

.ProseMirror {
	position: relative;
}

.ProseMirror {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
	background: var(--surface);
	white-space: pre-wrap;
}
.ProseMirror code {
	font-family: monospace;
}
.ProseMirror ul,
ol {
	margin-left: 1em;
}
.ProseMirror li {
	position: relative;
}
.ProseMirror blockquote {
	background: var(--surface);
	border-left: 4px solid var(--text);
	border-radius: var(--radius);
	padding: 0.5em;
}
.ProseMirror-hideselection *::selection {
	background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
	background: transparent;
}
.ProseMirror-hideselection {
	caret-color: transparent;
}

.ProseMirror-selectednode {
	outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
	outline: none;
}

li.ProseMirror-selectednode:after {
	content: "";
	position: absolute;
	left: -32px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	border: 2px solid #8cf;
	pointer-events: none;
}

/* Protect against generic img rules */
.ProseMirror img {
	max-width: 100%;
	margin: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius);
}

img.ProseMirror-separator {
	display: inline !important;
	border: none !important;
	margin: 0 !important;
}
li[data-type="todo_item"] {
	display: flex;
	flex-direction: row;
}

.todo-checkbox {
	border: 1px solid var(--text);
	height: 1em;
	width: 1em;
	box-sizing: border-box;
	margin-top: 0.3em;
	margin-right: 0.5em;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border-radius: var(--radius);
}

.todo-checkbox-checked {
	background-color: var(--primary);
}

.todo-content {
	flex: 1;
}
.avatar {
  vertical-align: middle;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
li[data-done="true"] {
	text-decoration: line-through;
}

li[data-done="true"] .todo-checkbox-unchecked {
	display: none;
}

li[data-done="false"] .todo-checkbox-checked {
	display: none;
}

li[data-done="true"] li[data-done="false"] .todo-checkbox-checked {
	display: inline-block;
}

li[data-done="false"] li[data-done="true"] .todo-checkbox-checked {
	display: inline-block;
}

li[data-done="false"] {
	text-decoration: none;
}

details > summary {
	cursor: pointer;
	user-select: none;
	padding: 0.5em;
	background: var(--surface);
	margin: 0.5em 0;
}
summary {
	display: inline;
}
details[open] summary {
	font-weight: bold;
	background: transparent;
}
#my {
	/* opacity: 0; */
	/* animation: slide 0.5s ease-in 1s; */
}
#loader {
	background: var(--background);
}
#spinner {
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	height: 50px;
	width: 50px;
	margin: -25px 0 0 -25px;
	border-radius: 50%;
}

#spinner:before,
#spinner:after {
	content: "";
	border: 2px solid var(--primary);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
}

#spinner:before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}

#spinner:after {
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}

@-webkit-keyframes spWaveAf {
	from {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
}
@keyframes spWaveAf {
	from {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
}
@-webkit-keyframes spWaveBe {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0;
	}
}
@keyframes spWaveBe {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0;
	}
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

#navbar {
  position: fixed;
  /* background-color: var(--primary); */
  transition: width 200ms ease;
}

#ion-icon {
  font-size: 1.25rem;
  color: var(--green);
    display: flex;
  flex-direction: row;
  margin: auto ;
  
}
#navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#nav-item {
  width: 100%;
}

#nav-item:last-child {
  margin-top: auto;
}

#nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text);
  text-decoration: none;
}

#nav-link:hover {
  background: var(--background);
  color: var(--text);
  transition: var(--transition-speed) ease;
}

#link-text {
  display: none;
  color: var(--text);
  font-weight: 900;
  margin-left: 1rem;
}

#nav-link #icon-svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* small screen */
@media only screen and (max-width: 600px) {
  #navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  /* #logo {
    display: none;
  } */
  #nav-item:first-child {
    display: none;
  }

  #navbar-nav {
    flex-direction: row;
  }

  #nav-link {
    justify-content: center;
  }

  /* #nav-item:first-child #logo {
    display: none;
  } */

  main {
    margin: 0;
    margin-bottom: 5rem;
  }
}

/* large screen */

@media only screen and (min-width: 600px) {
  #navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
}
