:root {
	--green: #96eaa3;
	--yellow: #eae086;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #707070;
	--neutral: #e4e2e2;

	--text: var(--black);
	--background: var(--black);
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);

	--radius: 0.75em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

html[theme="day"] {
	--green: #96eaa3;
	--yellow: #eae086;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #707070;
	--neutral: #eeeded;

	--text: var(--black);
	--background: var(--white);
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);
	--surface: var(--neutral);
}

html[theme="night"] {
	--green: #74e284;
	--yellow: #ded36d;
	--red: #f3646d;
	--blue: #649ef3;
	--white: #ffffff;
	--black: #121212;
	--slate: #2f2f2f;
	--neutral: #eeeded;

	--text: var(--white);
	--background: #121212;
	--primary: var(--green);
	--secondary: var(--yellow);
	--accent: var(--red);
	--surface: var(--slate);
}
body {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  color: #FFF;
  background-color: #121519;
  font-family: "Montserrat", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}

.app {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  /* grid-template-columns: 10% 80% 10%; */
  height: 100vh;

}

.header,
.footer {
  font-size: 0.75rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a0a0a0;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}

.main {
  grid-column: 1/-1;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 1px;
  -ms-scroll-snap-type: block proximity;
      scroll-snap-type: block proximity;
  -ms-scroll-snap-destination: 0% 100%;
      scroll-snap-destination: 0% 100%;
  -ms-scroll-snap-points-y: repeat(100%);
      scroll-snap-points-y: repeat(100%);
}
@media screen and (min-width: 1024px) {
  .main {
    grid-column: 2/-1;
  }
}

.footer {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  padding: 0 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer p {
  margin-right: 1rem;
}
.footer a {
  color: #FFF;
}
.footer a:hover, .footer a:focus {
  text-decoration: underline;
}
.footer__more {
  display: none;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer__more {
    display: block;
  }
}

.nav {
  display: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__link {
  display: block;
  color: #FFF;
  font-weight: 200;
}
.nav__link:hover, .nav__link:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    grid-column: 1/2;
  }
}

.section {
  min-height: 500px;
  min-height: calc(100vh - 4rem - 4rem);
  padding-top: 300px;
  margin-top: 4em;
  margin-bottom: 250px;
  position: relative;
  transform-style: preserve-3d;
  scroll-snap-align: start;
}

.section__content {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}
@media (width <= 600px) {
  .section {
    margin-bottom: 750px;
  }
  .section__header {
    transform: translateZ(-1px) scale(1.9);
  }
  .section__content {
    padding: 0;
    transform: translateZ(0);
  }
}

.boxgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2rem 0.5rem;
}
.boxgrid__item {
  display: flex;
}
.boxgrid__item--wide {
  grid-column: span 2;
}
@media (width <= 600px) {
  .boxgrid__item--push {
    grid-column: span 2;
    padding-left: 50%;
  }
}

.box {
  display: flex;
  flex: 1 0 0;
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #FFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1);
  transition: all 0.25s ease;
  filter: brightness(100%);
}
.box:hover, .box:focus {
  transform: scale(1.07);
  filter: brightness(110%);
  z-index: 10;
}
.box--weather {
  background-color: #89CDCE;
}
.box--cost {
  background-color: #66AEE5;
}
.box--locations {
  background-color: #6C73DC;
}
.box--image, .box--video {
  padding: 0;
}
.box--video::before, .box--video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.box--video::before {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.box--video::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #121519;
  margin-left: 2px;
}
.box__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}

.scrollctrl {
  display: none;
  justify-content: center;
  width: 50vw;
  height: 50vw;
  padding: 0;
  position: fixed;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  left: 50%;
  margin-left: -25%;
}
.scrollctrl:hover, .scrollctrl:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
.scrollctrl--prev {
  top: 0;
  padding-top: 44%;
  align-items: flex-end;
  transform: translateY(-42vw);
}
.scrollctrl--next {
  bottom: 0;
  padding-bottom: 44%;
  transform: translateY(42vw);
}
@media screen and (min-width: 1024px) {
  .scrollctrl {
    display: flex;
  }
}

.text--large {
  font-size: 2rem;
  font-weight: 200;
}

.arrow {
  display: inline-block;
  padding: 3px;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
.arrow--large {
  padding: 8px;
  border-width: 0 1px 1px 0;
}
.arrow--right {
  transform: rotate(-45deg);
}
.arrow--left {
  transform: rotate(135deg);
}
.arrow--up {
  transform: rotate(-135deg);
}
.arrow--down {
  transform: rotate(45deg);
}

.media {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.media__img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 0.25rem;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__content {
  margin: 0;
}

.user {
  margin-left: auto;
  text-align: center;
  padding-top: 2rem;
}
.user__name {
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
}
.user__img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}

.btn {
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  border: 1px solid var(--accent);
  border-radius: 50%;
  background-color: var(--black);

  margin: 0 0.5rem;
}

button:focus {
  outline: 0;
  border-color: #66AEE5;
  box-shadow: 0 0 0 1px #66AEE5;
}


#navbar {
  position: fixed;
  /* background-color: var(--primary); */
  transition: width 200ms ease;
}

#ion-icon {
  font-size: 1.25rem;
  color: var(--green);
    display: flex;
  flex-direction: row;
  margin: auto ;
  
}
#navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#nav-item {
  width: 100%;
}

#nav-item:last-child {
  margin-top: auto;
}

#nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text);
  text-decoration: none;
}

#nav-link:hover {
  background: var(--background);
  color: var(--text);
  transition: var(--transition-speed) ease;
}

#link-text {
  display: none;
  color: var(--text);
  font-weight: 900;
  margin-left: 1rem;
}

#nav-link #icon-svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* small screen */
@media only (width >= 600px) {
  #navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  /* #logo {
    display: none;
  } */
  #nav-item:first-child {
    display: none;
  }

  #navbar-nav {
    flex-direction: row;
  }

  #nav-link {
    justify-content: center;
  }

  /* #nav-item:first-child #logo {
    display: none;
  } */

  /* main {
    margin: 0;
    margin-bottom: 5rem;
  } */
}

/* large screen */

@media only (width<= 600px) {
  #navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
}




#signup {
  position: relative;
  display: inline-block;
}

#signup #request {
  line-height: normal;
  display: inline-block;
  background: #348bf5;
  border-radius: 3px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 180px;
  text-align: center;
  position: relative;
  transition: all 350ms cubic-bezier(0.23, 1 ,0.32, 1);
  -webkit-transition: all 350ms cubic-bezier(0.23, 1 ,0.32, 1);
  -moz-transition: all 350ms cubic-bezier(0.23, 1 ,0.32, 1);

}

#signup #request:hover {
  background: #3a90fc;
}

#signup #request:focus {
  outline: none;
}

#signup #request.email {
  width: 280px;
  text-align: left;
  cursor: text;
  padding-right: 34px;
}

#signup .email-send {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url(http://journal.mathieurobert.fr/img/icon-send.svg);
  background-color: white;
  background-size: 24px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885 ,0.32, 1.275) 50ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885 ,0.32, 1.275) 50ms;
}

#signup .email-send.email-send-show {
  opacity: 0.6;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

#signup .email-send.email-send-show:hover {
  opacity: 0.8;
}

::-webkit-input-placeholder { color: white;}
:-moz-placeholder { color: white;}
::-moz-placeholder { color: white;}
:-ms-input-placeholder { color: white;}

.email::-webkit-input-placeholder { color: rgba(255,255,255,0.6);}
.email:-moz-placeholder { color: rgba(255,255,255,0.6);}
.email::-moz-placeholder { color: rgba(255,255,255,0.6);}
.email:-ms-input-placeholder { color: rgba(255,255,255,0.6);}



#tell {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: visible;
}
#tell p {
	background: var(--surface);
	border-radius: var(--radius);
	/* background: rgba(var(--background), 0.8);
	border: 0.1em solid var(--text);
	box-shadow: 0 0.5em 1em var(--surface);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	top: -2em;
	width: 75%;
	padding: 1%;
	opacity: 0;
	visibility: hidden;
	transition: visibility 1s, all 0.5s ease-in;
}
#tell .notify {
	top: 0.25em;
	opacity: 1;
	visibility: visible;
	transition: visibility 0s, all 0.25s ease-out;
}

#install {
	display: none;
}
@keyframes slide {
	0% {
		transform: translateX(25%);
	}
	100% {
		transform: translateX(0);
	}
}

.ProseMirror {
	position: relative;
}

.ProseMirror {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
	background: var(--surface);
	white-space: pre-wrap;
}
.ProseMirror code {
	font-family: monospace;
}
.ProseMirror ul,
ol {
	margin-left: 1em;
}
.ProseMirror li {
	position: relative;
}
.ProseMirror blockquote {
	background: var(--surface);
	border-left: 4px solid var(--text);
	border-radius: var(--radius);
	padding: 0.5em;
}
.ProseMirror-hideselection *::selection {
	background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
	background: transparent;
}
.ProseMirror-hideselection {
	caret-color: transparent;
}

.ProseMirror-selectednode {
	outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
	outline: none;
}

li.ProseMirror-selectednode:after {
	content: "";
	position: absolute;
	left: -32px;
	right: -2px;
	top: -2px;
	bottom: -2px;
	border: 2px solid #8cf;
	pointer-events: none;
}

/* Protect against generic img rules */
.ProseMirror img {
	max-width: 100%;
	margin: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius);
}

img.ProseMirror-separator {
	display: inline !important;
	border: none !important;
	margin: 0 !important;
}
li[data-type="todo_item"] {
	display: flex;
	flex-direction: row;
}

.todo-checkbox {
	border: 1px solid var(--text);
	height: 1em;
	width: 1em;
	box-sizing: border-box;
	margin-top: 0.3em;
	margin-right: 0.5em;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border-radius: var(--radius);
}

.todo-checkbox-checked {
	background-color: var(--primary);
}

.todo-content {
	flex: 1;
}
.avatar {
  vertical-align: middle;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
li[data-done="true"] {
	text-decoration: line-through;
}

li[data-done="true"] .todo-checkbox-unchecked {
	display: none;
}

li[data-done="false"] .todo-checkbox-checked {
	display: none;
}

li[data-done="true"] li[data-done="false"] .todo-checkbox-checked {
	display: inline-block;
}

li[data-done="false"] li[data-done="true"] .todo-checkbox-checked {
	display: inline-block;
}

li[data-done="false"] {
	text-decoration: none;
}

details > summary {
	cursor: pointer;
	user-select: none;
	padding: 0.5em;
	background: var(--surface);
	margin: 0.5em 0;
}
summary {
	display: inline;
}
details[open] summary {
	font-weight: bold;
	background: transparent;
}
#my {
	/* opacity: 0; */
	/* animation: slide 0.5s ease-in 1s; */
}
#loader {
	background: var(--background);
}
#spinner {
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	height: 50px;
	width: 50px;
	margin: -25px 0 0 -25px;
	border-radius: 50%;
}

#spinner:before,
#spinner:after {
	content: "";
	border: 2px solid var(--primary);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
}

#spinner:before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
	-webkit-animation: spWaveBe 0.6s infinite linear;
	animation: spWaveBe 0.6s infinite linear;
}

#spinner:after {
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	opacity: 0;
	-webkit-animation: spWaveAf 0.6s infinite linear;
	animation: spWaveAf 0.6s infinite linear;
}

@-webkit-keyframes spWaveAf {
	from {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
}
@keyframes spWaveAf {
	from {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
}
@-webkit-keyframes spWaveBe {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0;
	}
}
@keyframes spWaveBe {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0;
	}
}
