html,
body {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.5;
	font-size: 14pt;
	/* f-ont-size: max(18pt, 2?vw); */
}

div,
ul,
ol,
li,
p,
span,
form,
button,
input,
textarea,
img {
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: inherit;
	box-sizing: border-box;
	font: inherit;
	border: none !important;
}

a,
button,
input,
textarea {
	background: inherit;
	border: none;
	color: inherit;
	text-decoration: inherit;
	outline: none;
}
input:not([type="button"]):not([type="submit"]),
textarea {
	width: 100%;
}

a:focus,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
	animation: pulse 2s infinite;
}

/* ul,
li {
	list-style: none;
} */
pre {
	font-family: Monaco, monospace;
	background-color: var(--background);
	padding: 0.5em;
	border-radius: var(--radius);
}
p {
	padding: 0;
}
p + p {
	padding-top: 0;
}

[contenteditable="true"]:empty:before {
	content: attr(placeholder);
}
::placeholder,
.hint {
	color: inherit;
	opacity: 0.3;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.model,
.none {
	display: none;
}
.hide {
	opacity: 0;
	visibility: hidden;
	transition: all 2s;
}

.full {
	width: 100%;
	min-height: 100vh;
	height: -webkit-fill-available;
}
.max {
	max-width: 48em;
}
.min {
	min-width: 12em;
}
.pad {
	width: 95%;
	margin: 5% auto;
	max-width: 48em;
	min-width: 12em;
}

.row {
	width: 100%;
}
.row::after {
	content: "";
	display: block;
	clear: both;
}
.col {
	max-width: 24em;
	min-width: 12em;
}

.center {
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}
.right {
	float: right;
	text-align: right;
}
.left {
	float: left;
	text-align: left;
}
.mid {
	margin-left: auto;
	margin-right: auto;
}
.top {
	vertical-align: top;
}
.low {
	vertical-align: bottom;
}

.rim {
	margin: 1%;
}
.gap {
	padding: 3%;
	padding: clamp(0.5em, 3%, 1.5em);
}
.stack {
	line-height: 0;
}
.crack {
	margin-bottom: 5%;
}
.sit {
	margin-bottom: 0;
}

.focus {
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: both;
}

.leak {
	overflow: visible;
}
.hold {
	overflow: hidden;
}

.icon {
	/*display: block;*/
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	padding: 0.25em 0.25em;
	border-radius: var(--radius);
	color: var(--text);
	margin: 0.5em;
	cursor: pointer;
}

.act {
	/*display: block;*/
	padding: 0.25em 1em;
	font-weight: normal;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	border-radius: var(--radius);
	margin: 0.5em;
}
.link {
	cursor: pointer;
	color: var(--text);
}
.unit,
.symbol {
	display: inline-block;
	vertical-align: inherit;
}
.sap {
	border-radius: var(--radius);
}
.jot {
	border-bottom: 1px dashed #95b2ca;
}

.loud {
	font-size: 150%;
}
.shout {
	font-size: 36pt;
	font-size: 6.5vmax;
}

.red {
	background: var(--red);
}
.green {
	background: var(--green);
}
.blue {
	background: var(--blue);
}
.yellow {
	background: var(--yellow);
}
.black {
	background: var(--black);
}
.white {
	background: var(--white);
}
.surface {
	background: var(--surface);
}

.shade {
	background: rgba(0%, 0%, 0%, 0.1);
}
.tint {
	background: rgba(100%, 100%, 100%, 0.1);
}

.redt {
	color: var(--red);
}
.greent {
	color: var(--green);
}
.bluet {
	color: var(--blue);
}
.yellowt {
	color: var(--yellow);
}
.blackt {
	color: var(--black);
}
.whitet {
	color: var(--white);
}
.surfacet {
	color: var(--surface);
}

.hue {
	background: var(--green);
	-webkit-animation: hue 3s infinite;
	animation: hue 3s infinite;
}
@keyframes hue {
	0% {
		background-color: var(--green);
	}
	25% {
		background-color: var(--yellow);
	}
	50% {
		background-color: var(--red);
	}
	75% {
		background-color: var(--blue);
	}
	100% {
		background-color: var(--green);
	}
}
@-webkit-keyframes hue {
	0% {
		background-color: var(--green);
	}
	25% {
		background-color: var(--yellow);
	}
	50% {
		background-color: var(--red);
	}
	75% {
		background-color: var(--blue);
	}
	100% {
		background-color: var(--green);
	}
}

.huet {
	color: var(--blue);
	-webkit-animation: huet 900s infinite;
	animation: huet 900s infinite;
}
@keyframes huet {
	0% {
		color: var(--blue);
	}
	25% {
		color: var(--green);
	}
	50% {
		color: var(--yellow);
	}
	75% {
		color: var(--red);
	}
	100% {
		color: var(--blue);
	}
}
@-webkit-keyframes huet {
	0% {
		color: var(--blue);
	}
	25% {
		color: var(--green);
	}
	50% {
		color: var(--yellow);
	}
	75% {
		color: var(--red);
	}
	100% {
		color: var(--blue);
	}
}

.hue2 {
	background: var(--red);
	-webkit-animation: hue2 900s infinite;
	animation: hue2 900s infinite;
}
@keyframes hue2 {
	0% {
		background-color: var(--red);
	}
	25% {
		background-color: var(--blue);
	}
	50% {
		background-color: var(--green);
	}
	75% {
		background-color: var(--yellow);
	}
	100% {
		background-color: var(--red);
	}
}
@-webkit-keyframes hue2 {
	0% {
		background-color: var(--red);
	}
	25% {
		background-color: var(--blue);
	}
	50% {
		background-color: var(--green);
	}
	75% {
		background-color: var(--yellow);
	}
	100% {
		background-color: var(--red);
	}
}

.huet2 {
	color: var(--red);
	-webkit-animation: huet2 1s infinite;
	animation: huet2 1s infinite;
}
@keyframes huet2 {
	0% {
		color: var(--red);
	}
	25% {
		color: var(--blue);
	}
	50% {
		color: var(--green);
	}
	75% {
		color: var(--yellow);
	}
	100% {
		color: var(--red);
	}
}
@-webkit-keyframes huet2 {
	0% {
		color: var(--red);
	}
	25% {
		color: var(--blue);
	}
	50% {
		color: var(--green);
	}
	75% {
		color: var(--yellow);
	}
	100% {
		color: var(--red);
	}
}

.hue3 {
	background: var(--green);
	-webkit-animation: hue3 900s infinite;
	animation: hue3 900s infinite;
}
@keyframes hue3 {
	0% {
		background-color: var(--green);
	}
	25% {
		background-color: var(--yellow);
	}
	50% {
		background-color: var(--red);
	}
	75% {
		background-color: var(--blue);
	}
	100% {
		background-color: var(--green);
	}
}
@-webkit-keyframes hue3 {
	0% {
		background-color: var(--green);
	}
	25% {
		background-color: var(--yellow);
	}
	50% {
		background-color: var(--red);
	}
	75% {
		background-color: var(--blue);
	}
	100% {
		background-color: var(--green);
	}
}

.huet3 {
	color: var(--green);
	-webkit-animation: huet3 900s infinite;
	animation: huet3 900s infinite;
}
@keyframes huet3 {
	0% {
		color: var(--green);
	}
	25% {
		color: var(--yellow);
	}
	50% {
		color: var(--red);
	}
	75% {
		color: var(--blue);
	}
	100% {
		color: var(--green);
	}
}
@-webkit-keyframes huet3 {
	0% {
		color: var(--green);
	}
	25% {
		color: var(--yellow);
	}
	50% {
		color: var(--red);
	}
	75% {
		color: var(--blue);
	}
	100% {
		color: var(--green);
	}
}

.hue4 {
	background: var(--yellow);
	-webkit-animation: hue4 900s infinite;
	animation: hue4 900s infinite;
}
@keyframes hue4 {
	0% {
		background-color: var(--yellow);
	}
	25% {
		background-color: var(--red);
	}
	50% {
		background-color: var(--blue);
	}
	75% {
		background-color: var(--green);
	}
	100% {
		background-color: var(--yellow);
	}
}
@-webkit-keyframes hue4 {
	0% {
		background-color: var(--yellow);
	}
	25% {
		background-color: var(--red);
	}
	50% {
		background-color: var(--blue);
	}
	75% {
		background-color: var(--green);
	}
	100% {
		background-color: var(--yellow);
	}
}

.huet4 {
	color: var(--yellow);
	-webkit-animation: huet4 900s infinite;
	animation: huet4 900s infinite;
}
@keyframes huet4 {
	0% {
		color: var(--yellow);
	}
	25% {
		color: var(--red);
	}
	50% {
		color: var(--blue);
	}
	75% {
		color: var(--green);
	}
	100% {
		color: var(--yellow);
	}
}
@-webkit-keyframes huet4 {
	0% {
		color: var(--yellow);
	}
	25% {
		color: var(--red);
	}
	50% {
		color: var(--blue);
	}
	75% {
		color: var(--green);
	}
	100% {
		color: var(--yellow);
	}
}

.pulse {
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.joy {
	width: 100px;
	height: 100px;
	position: absolute;
	background: url(https://cdn.jsdelivr.net/npm/gun/examples/pop.png) no-repeat;
	background-position: -2800px 0;
	pointer-events: none;
	z-index: 999999999;
	animation: joy 1s steps(28);
}
@keyframes joy {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2800px 0;
	}
}

.textt {
	color: var(--text);
}
